<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
 <h1>Hello!</h1>

<p>You have been invited in the project: {{ project.name }} by {{ project.owner.firstName }}</p>
</body>
</html>